.hide-external-link-icon .external-link {
	background-image: unset;
	padding-right: unset;
}

.link-icon {
	display: inline-flex;
	align-items: center;
}

.link-icon[data-position="start"] {
	margin-inline-end: var(--size-2-2);
}

.link-icon[data-position="end"] {
	margin-inline-start: var(--size-2-2);
}

.link-icon > * {
	width: var(--icon-xs);
	height: var(--icon-xs);
	stroke-width: var(--icon-xs-stroke-width);
	color: var(--text-faint);
}
